@import "tailwindcss";
@plugin "daisyui";


@keyframes sideToSide {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(30px);
    }
    100% {
      transform: translateX(0);
    }
  }